$white: #fff;
$black: #000;
$grey: #7e7e7e;
$gold: #DAD3BC;
$gold-dark: darken($gold, 10%);
$gold-light: lighten($gold, 10%);
$blue: #58ADCA;

$font-size-base: 1.6rem;
$font-size-head: $font-size-base * 3;
$font-size-subhead: $font-size-base * 1.75;

$font-fam-serif: 'Playfair Display', serif;
$font-fam-sans: 'Fjalla One', sans-serif;


html {
	font-size: 62.5%;
}

body {
	font-size: 16px;
	font-size: $font-size-base;
	font-family: $font-fam-serif;
	font-weight: 400;
}

a {
	color: $gold;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

h1 {
	font-weight: 400;
	font-size: $font-size-head;
	padding-bottom: 25px;
}


h2 {
	font-family: $font-fam-sans;
	font-size: $font-size-subhead;
	color: $gold;
	text-transform: uppercase;
	font-weight: 400;
	padding: 25px;

	a {
		color: $gold;
		text-decoration: none;
	}
}

h3 {
	color: $grey;
	font-weight: 400;
	padding-bottom: 50px;
}

article p {
	padding-top: 25px;
	line-height: 2;
}

#nav-below a {
	color: $gold;
	font-family: $font-fam-sans;
}

.blog {
	h1 a {
		color: $black;
	} 
	h2 {
		padding-bottom: 0; 
	}
}

.category h1 a, .error404 h1 a {
	color: $black;	
}
